*.bin
*.egg-info
rfc6979/build
rfc6979/dist
__pycache__
docker/nostr-rs-relay/data/*
verifiable-moderation.json
env
.DS_Store
myenv/
verimod_test/
.python-version
mytest/
build
air-private-input.json
air-public-input.json